/* Import Zalando Sans Expanded (using Syne as the best available alternative) */
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;700;800&display=swap');


@import "tailwindcss";


/* Apply the font globally and remove scrollbars */
* {
  font-family: 'Syne', sans-serif;
  margin: 0;
  padding: 0;
}

html, body, #root {
  font-family: 'Syne', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Remove scrollbars */
::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}